<mat-nav-list class="dashboard">
  <a mat-list-item>
    <mat-icon mat-list-icon>home</mat-icon>
    <p matLine>Home</p>
  </a>

  <mat-divider></mat-divider>

  <a mat-list-item>
    <mat-icon mat-list-icon>inbox</mat-icon>
    <p matLine>
      Inbox
    </p>
  </a>
  <a mat-list-item>
    <mat-icon mat-list-icon>star</mat-icon>
    <p matLine>Starred</p>
  </a>
  <a mat-list-item>
    <mat-icon mat-list-icon>drafts</mat-icon>
    <p matLine>Drafts</p>
  </a>

  <mat-divider></mat-divider>

  <a mat-list-item>
    <mat-icon mat-list-icon>mail</mat-icon>
    <p matLine>All Mail</p>
  </a>
  <a mat-list-item>
    <mat-icon mat-list-icon>delete</mat-icon>
    <p matLine>Trash</p>
  </a>
  <a mat-list-item>
    <mat-icon mat-list-icon>warning</mat-icon>
    <p matLine>Spam</p>
  </a>
</mat-nav-list>
