table {
  width: 100%;
  margin-top: 15px;
}

@media (max-width: 676px) {
  table {
    width: 100%;
    box-shadow: none;
  }

  .table-header {
    display: none;
  }

  .table-row {
    display: flex;
    flex-direction: column;
    height: 200px;
    border-radius: 3px;
    box-shadow: 0px 2px 3px 1px grey;
    margin-bottom: 8px;
    background: white;
  }

  .table-row:hover {
    background-color: whitesmoke;
  }

  table td {
    border: 0px solid transparent;
    position:inherit;
    background-color: transparent;
    font-size: 16px;
    color: black;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
    padding: 15px 15px 3px 15px;
  }
}
