<img src="../../../assets/img/banner.jpg" class="banner" alt="" />
<div class="container">
  <div class="channel-description">
    <img
      class="avatar"
      src="https://i.ytimg.com/vi/Sp3dFF-Bts0/maxresdefault.jpg"
      alt="logo"
    />
    <div class="channel-name-subs">
      <p>PiXimperfect</p>
      <small>2.25M subscribers</small>
    </div>
    <div class="mx-auto"></div>
    <button class="subscribe" mat-flat-button color="warn">
      SUBSCRIBE
    </button>
  </div>
  <div class="tab">
    <mat-tab-group animationDuration="0ms" selectedIndex="3">
      <mat-tab label="HOME">
        <app-channel-home></app-channel-home>
      </mat-tab>
      <mat-tab label="VIDEOS">VIDEOS</mat-tab>
      <mat-tab label="PLAYLISTS">PLAYLISTS</mat-tab>
      <mat-tab label="COMMUNITY">COMMUNITY</mat-tab>
      <mat-tab label="CHANNELS">CHANNELS</mat-tab>
      <mat-tab label="ABOUT" active="true">ABOUT</mat-tab>
      <mat-tab id="search-tab">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">search</mat-icon>
        </ng-template>
        Content 3
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
