<div class="nav-container">
  <app-app-bar></app-app-bar>
  <mat-sidenav-container class="mat-sidenav-container" autosize>
    <mat-sidenav
      [fixedInViewport]="false"
      [mode]="BP.isXS || BP.isSM ? 'over' : 'side'"
      #sidenav
      [opened]="BP.isXS || BP.isSM ? navService.isOpen : true"
      [@onSideNavChange]="navService.isOpen"
      (closed)="navService.closeNav()"
    >
      <app-side-nav></app-side-nav>
    </mat-sidenav>

    <!-- <mat-sidenav
    [mode]=" 'over'"
    [opened]="navService.isOpen"
  >
    <app-side-nav></app-side-nav>
  </mat-sidenav> -->

    <mat-sidenav-content
      [@onMainContentChange]="BP.isXS || BP.isSM ? 'null' : navService.isOpen"
    >
      <div style="width: 95%; margin: auto;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
