.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.mat-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.side-nav-open {
  animation-name: open;
  animation-duration: 400ms;
  width: 200px;
}
.side-nav-close {
  animation-name: close;
  animation-duration: 400ms;
  width: 70px;
}

@keyframes open {
  from {
    width: 70px;
  }
  to {
    width: 200px;
  }
}

@keyframes close {
  from {
    width: 200px;
  }
  to {
    width: 70px;
  }
}
